@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
    font-family: "Noto Sans KR", sans-serif !important;
}

*{
    font-family: 'Noto Sans KR';
    background-color: #ffffff;
}

#total{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

#user {
    width: 150px;
    height: 200px;
}

#user:hover{
    color: red;
}

#host{
    width: 150px;
    height: 200px;
}

#host:hover{
    color: red;
}

p{
    text-align: center;
}