@charset "EUC-KR";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
    font-family: "Noto Sans KR", sans-serif !important;
    margin: 0;
}

.main{
   width: 60%;
    margin: 0 auto;

}
input::placeholder{
    color: #aaa;
}
#gallery_wrap{
    width: 800px;
    height: 460px;
    margin-right: 30px;
}
.title{
    font-size: 25px;
}
table{
    margin-top: 20px;
    width: 300px;
    border-collapse: separate;
    border-spacing: 0 15px;
}

th{
    text-align: left;
}

.room_info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.room{
    margin: 5px;
    padding: 15px;

}

.room_spec{
    background-color: #f5f5f5;
    width: 1100px;
    /*padding: 5px 0 0 20px;*/

}
.spec_text{
    padding: 5px 0 10px 20px;
}

.btn_f{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn{
    width: 220px;
    height: 48px;
    border-radius: 3px;
    background-color: #2379e3;
    border: 0;
    margin-top: 20px;
    color: #ffffff;
}

.btn:hover{
    background-color: #166dd9;
}
.chk_input{
    border-radius: 3px;
    border: solid 1px #ddd;
}




